.command-feedback {
  color: #FFFFFF;
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5em 1em 1em 1em;
  text-align: center;
  margin-bottom: -0.5em;

  &.success {
    background-color: #43AC6A;
    border-color: #3a945b;
  }
  &.failure {
    background-color: #f04124;
    border-color: #de2d0f;
  }
  p {
    padding: 0;
    margin: 0;
    text-aling: left;
    &.tip {
      margin-top: 0.5em;
    }
  }
}
