.date-picker {
  display: block;

  .button {
    padding: 0 0.3em;
  }

  p {
    text-align: center;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    ul.options {
      list-style-type: none;
      display: flex;
      padding: 0;
      margin: 0 0 -0.57em 1em;

      li {
        margin-right: 0.5em;
        border-radius: 0.4em;
        border: 1px solid #bbb;
        padding: 0.5em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        border: 1px solid #bbb;
        background: #ebebeb;
        text-transform: capitalize;
      }
      li.active {
        background: white;
        border-bottom: 0;
        box-shadow: 0 3px 0em 0em white;
      }
    }
    .exit {
      align-self: center;
      padding: 0.3em;
    }
  }

  .container {
    border: 1px solid #bbb;
    margin: 0.5em;
    padding: 0.5em;
    background: #fff;
    border-radius: 0.4em;
    box-shadow: inset 0 0 0.3em #ccc;

    &.month {
      ul {
        line-height: 3.5em;
        li {
          display: inline;

          &.selected {
            button {
              font-weight: bold;
            }
          }
        }
      }
    }

    &.day, &.week-day {
      .weeks {
        display: inline-block;
        vertical-align: top;
        margin-top: 0.1em;

        li {
          text-align: center;
          padding: 0.3em 0.5em;
          line-height: 1.35em;

          &.selected {
            .button {
              font-weight: bold;
            }
          }
        }
        li:first-child {
          font-weight: bold;
          text-transform: capitalize;
        }
      }

      .monthContainer {
        display: inline-block;
      }

      .weekDays {
        li {
          display: inline-block;
          font-weight: bold;
          width: 2em;
          text-align: center;
          padding: 0.3em 0.5em;
          text-transform: capitalize;
        }
      }
      .monthDays {
        width: 21em;
        li {
          display: inline-block;
          width: 2em;
          text-align: center;
          padding: 0.3em 0.5em;
          &.selected {
            font-weight: bold;
          }
          .button {
            width: 1.5em;
          }
        }
      }
    }

    &.hours, &.minutes, &.years {
      padding: 2em;
    }
  }

}
