.find-text {
  display: flex;
  justify-content: space-between;

  input {
    background: white;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0.3em 0 #eee;
    margin: 0.3em;
    width: 24em;
    padding: 0.25em 0.2em;
    align-self: center;
  }
}
