$font: opendyslexic;
$textAlign: inherit;
:root {
  --fontType: #{$font};
  --textAlign: #{$textAlign};
}

.hide-element-aw {
  display: none !important;
  visibility: hidden !important;
}

.remove-background-image-aw {
  background-image: none !important;
}

@font-face {
  font-family: 'opendyslexic';
	src: url('../docs/docs-assets/fonts/open-dyslexic/OpenDyslexic-Regular.otf');
	font-style: normal;
	font-weight: normal;
} 

@font-face {
	font-family: 'opendyslexic';
	src: url('../docs/docs-assets/fonts/open-dyslexic/OpenDyslexic-Italic.otf');
	font-style: italic;
	font-weight: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('../docs/docs-assets/fonts/open-dyslexic/OpenDyslexic-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'opendyslexic';
	src: url('../docs/docs-assets/fonts/open-dyslexic/OpenDyslexic-Bold-Italic.otf');
	font-weight: bold;
	font-style: italic;
}

.font-aw {
	font-family: var(--fontType) !important;
}

.text-align-aw {
	text-align: var(--textAlign) !important;
}