button,select,input {
    background-color: black !important;
    color:yellow !important;
    border-color: #333 !important;
}
audio::-webkit-media-controls-play-button, audio::-webkit-media-controls-panel {
  background-color: yellow;
}
audio{
  border: 2px solid black;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,li,i,span,a,div,body,pre,code,svg,input[type=text],
input::placeholder{
    background-color: yellow !important;
    color:black !important;
}
a:hover, .nav.side-menu > li > a:hover{
  color: #333 !important;
  font-weight:bold !important;
  text-decoration-line: underline !important;
}
th{
    background-color: black !important;
    color: yellow !important;
    border: 2px solid #333 !important;
    border-bottom: 2px solid #333 !important;
}
td{
    background-color: yellow !important;
    color:black !important;
    border: 1px solid #333 !important;
}
.fc-light {
    color:black !important;
    background: yellow !important;
}
.nav-md ul.nav.child_menu li:before {
    background: black !important;
}
.nav.side-menu > li.active > a {
    background-color: #333 !important;
    color:yellow !important;
    background: black !important;
}
.nav.side-menu > li.active > a > i.fa, .nav.side-menu > li.active > a > span.fa {
  background: black !important;
  color: yellow !important;
}
.x_panel,.nav_menu,.module-description table,.snippet-code,.s-notice{
    border: 1px solid #333 !important;
}
.x_title{
    border-bottom:2px solid #333 !important;
}
::-webkit-scrollbar-track{
    background-color: yellow !important;
}
::-webkit-scrollbar-thumb,::-webkit-scrollbar-button,::-webkit-scrollbar-corner {
    background-color: black !important;
}
/*radiobutton and checkbox*/
input[type=radio],
input[type=checkbox] {
  display:none;
}
input[type=radio] + span,
input[type=checkbox] + span {
  display:inline-block;
  position: relative;
  margin-left: 21px;
}
input[type=radio] + span:before,
input[type=checkbox] + span:before {
  content:'';
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: yellow;
  left: -20px;
  top: 1px;
  border: 1px solid black;
}
input[type=radio] + span:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
}
input[type=radio]:checked + span:after,
input[type=checkbox]:checked + span:after {
  content:'';
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: black;
  left: -18px;
  top: 3px;
  border: 1px solid black;
}
input[type=radio]:checked + span:after {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -khtml-border-radius: 50%;
}
